.cell {
  width: 75px;
  height: 75px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}

#gameContainer {
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}

#restartBtn {
  padding: 7px 20px;
  border: 3px solid;
  background:white;
  border-radius: 20px;
  cursor: pointer;
  font-family: cursive;
  font-weight: 600;
  font-size: 15px;
}

#restartBtn:hover {
  background: rgb(170, 170, 170);
  transition: 0.3s;
}